.expImage {
    width: 100%;
    align-items: flex-end;
}
  
.expContent {
    width: 60%;
}
  
.expContainer {
    display: flex;
    flex-direction: row;
}
  
.workPreview {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.deviceContainer {
    position: relative;
    margin-left: 5%;
}
  
.phoneContent {
    position: absolute;
    top: 6%;
    left: 6%;
}
  
.desktopContent {
    position: absolute;
    top: 9.5%;
    left: 19.5%;
}